// Probando sass sin prepros 
$fuenteColor: gray;
$fuenteHover: aquamarine;
$fuentePrincipal:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font: calibri;
*{
    font-family: $fuentePrincipal;
}
header{
    display: flex;
    
    flex-direction: column;

  }
  body{
    // practicando estructuras de control en sass 
    @if($font == calibri){
        background-color: red;
    }@else if($font == roman){
        background-color: blue;
    }@else if($font == forfi){
        background-color: green;
    }@else{
        background-color: black;
    }
  }
#navbar{
    display: flex;
    align-items: center;
    & figure{
        width: 100px;
        padding: 1px;
        & img{
            width: 100%;
        }
    }
    & #Menu{
        width: 60%;
        & ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
        flex-direction: row;
        font-size: small;
        & a{
            text-decoration: none;
            color: $fuenteColor;
        }
        & li:hover{
            border-bottom: 2px solid $fuenteHover;
            & a{
                color: $fuenteHover;
            }
        }
        // :nth-child(3){
        //     background-color: blueviolet;
        // }

        }
    }
}
#Submain{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-evenly;
}
.pills{
    width: calc(auto + 50px);
    height: fit-content;
    border: 1px lightgray solid{
        radius: 40%;
    }
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 50px auto{
        top: 50px;
        bottom: 2px;
    }
    
}
/*Hola esto es otra prueba
Pues mira como hago*/
div{
    background-color: red;
    
}